
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbaqvN63Byo6t_6Ltki4m1Lj650wcoXHCb2Q&s"
    cardTitle="aqui é o titulo dele"
    cardDescription="escrever aqui a informação do card"
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    cardTitle="aqui é o titulo"
    photoCover="https://aventurasnahistoria.com.br/media/uploads/hard_news/monalisa.jpg"
    >
  </app-small-card>
    <app-small-card
    Id="3"
    cardTitle="aqui é o titulo"
    photoCover="https://aventurasnahistoria.com.br/media/uploads/hard_news/monalisa.jpg"
    >
  </app-small-card>
    <app-small-card
    Id="4"
    cardTitle="aqui é o titulo"
    photoCover="https://aventurasnahistoria.com.br/media/uploads/hard_news/monalisa.jpg"
    >
    >
  </app-small-card>

  </div>

</div>

